<%# @cart_items.each do |c| %>
<div class="clearfix">
  <div class="item_image big"> </div>
  <div>
    <p>item_name</p>
    <p>artist_name</p>
  </div>
</div>
<div>
  <div>
    <%#= c.number_field :item_count %>点</div>>
  <div>
    <%#= @c.list_price %>
  </div></div>
<div>
  <div>
    <%#=c.item_count %>点</div>
  <div>小計
    <%#price = c.item_count*c.list_price*@tax_rate%>
    <%# price %>円
  </div>
</div>
<%# end %>