<%# @cart_items.each do |c| %>

<body class="body">
  <div class="cart_box">
    <h1>カート内商品</h1>
    <div class="one_item">
      <div class="cd_info">
        <div class="jacket_img">
        </div>
          <div class="cd_name_block">
            <div class="cd_name">
              <h2>CDname</h2>
            </div>
            <div class="arthist_name">
              <h3>Arthistname</h3>
            </div>
            <div class="price">
              <h3>定価 ¥○○○○</h3>
            </div>
          </div>
        </div>
        <div class="table_block">
          <table class="table">
            <tr>
              <td><p>○</p></td>
              <td><p> 点</p></td>
              <td><p>小計</p></td>
              <td><p>  ¥○○○○</p></td>
            </tr>
          </table>
        </div>
      </div>
  <div class="total">
    <p>総計</p>
  </div>
</div>
</body>





<!-- 

<h1>カート</h1>
<div class="table clearfix">
  <%# @item.each do |item| %>
  <div class="item_image big"></div>
  <div item_information>
    <p>item_name</p>
    <p>artist_name</p>
  </div>
</div>
<div class="line">
  <div class="line_box"><%#= @c.list_price %>1000円</div>
  <div class="line_box"><%#= c.number_field :item_count %>1点</div>
</div>
<div class="line">
  <div class="line_box">1080円
    <%#price = c.item_count*c.list_price*@tax_rate%>
    <%# price %>
  </div>
  <div class="line_box">
    <%#=c.item_count %>小計(税込み)
  </div>
</div>
<%# end %>
<div class="line total">
  <div class="line_box">1080円</div>
  <div class="line_box">総計(税込み)</div>
</div>
<%#end%>  -->