<!-- <div class="main-visual">
 	<h1>About1</h1>
 	<div class="b"><img class="c" src="assets/record.jpg"></div>
 	<div class="b"><img class="c" src="assets/record.jpg"></div>
 	<div class="b"><img class="c" src="assets/record.jpg"></div>
 </div>-->

 <div class="slick">
  <div>
    <h3> 1 </h3>
  </div>
  <div>
    <h3> 2 </h3>
  </div>
  <div>
    <h3> 3 </h3>
  </div>
