<main class="about">

 <div id="wrap">
  <ul id="slider">
    <li class="slide-item"><img data-lazy="assets/record.jpg" alt="画像"><p class="textphoto">About</p></li>
    <li class="slide-item"><img data-lazy="assets/record.jpg" alt="画像"></li>
    <li class="slide-item"><img data-lazy="assets/record.jpg" alt="画像"></li>
  </ul>
</div>

</main>