

<!-- <div class="main-visual">
 	<h1>About1</h1>
 	<div class="b"><img class="c" src="assets/record.jpg"></div>
 	<div class="b"><img class="c" src="assets/record.jpg"></div>
 	<div class="b"><img class="c" src="assets/record.jpg"></div>
 </div>-->
<main class="about">

 <div id="wrap">
  <ul id="slider">
    <li class="slide-item"><img data-lazy="assets/record.jpg" alt="画像"><p class="textphoto">About</p></li>
    <li class="slide-item"><img data-lazy="assets/record.jpg" alt="画像"></li>
    <li class="slide-item"><img data-lazy="assets/record.jpg" alt="画像"></li>
  </ul>
 </div>

 <audio src="assets/class.mp3" autoplay controls></audio>

</main>