<div class="itemheader"></div>

<div class="i_main">

	<% @items.each do |i| %>
	<div class="oneitem">
		<div class="j_image"></div>
		<% i.item_name %>
		<% i.list_price %>
		<% @artist.artist_name %>
		<% i.sales_status %>
	</div>
</div>
<% end %>
