<div class="sidebar">
    <div class="jacketimage">
    	<%= attachment_image_tag @gacket_image, :gacket_image %>
    </div>
    <% @item.list_price %>
    <% @label.label_name %>
    <% @genre.genre_name %>


  </div>
        <div class="main">
        	<% @item.item_name %>
        	<% @artist.artist_name %>
        </div>

        <div>

        	 <table>
  　　　　　　　　　　<thead>
   　　　　　　　　　　　　 <tr>
      　　　　　　　　　　　　　<th>Title</th>
    　　　　　　　　　　　　　　<th>Artist</th>
      　　　　　　　　　　　　　<th>Time</th>

    　　　　　　　　　　　　</tr>
 　　　　　　　　　　　 </thead>

  　　　　　　　　　 <tbody>
    　　　　        <% @disc.each do |d| %>

    　　             <tr>
                      <td><% d.song_title %></td>
                      <td><% d.artist_name%></td>
                      <td><% d.play_time %></td>
                    </tr>
                    <% end %>


         </tbody>
       </table>
</div>
