<div class="itemheader"></div>

<div class="main">
	<div class="sidebar">
	    <div class="s_image"></div>
	        <% @item.list_price,class: "s.price" %>
	        <% @genre.ganre_name,class: "s.genre" %>
	        <% @rabel.rabel_name,class: "s.rabel" %>
        </div>

        <div class="s.titles">
        		<% @item.item_name,class: "s.title" %>
        		<% @artist.artist_name,class: "s.artist" %>

        	<table class="s.table">
        		<thead>
        			<tr>
        				<th>Title</th>
        				<th>Artist</th>
        				<th>Time</th>
        			</tr>
        		</thead>
        		<tbody>
        			<% @song.each do |s| %>
        			<tr>
        				<td><% s.song_title %></td>
        				<td><% @artist.artist_name %></td>
        				<td><% s.play_time %></td>
        			</tr>
        			<% end %>
        		</tbody>
        	</table>
    </div>



