<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <div class="sidebar">
    <div>
      <%= attachment_image_tag gacket_image, :gacket_image %>

      </div>

        <% genre.genre_name %>
        <% label.label_name %>
        <% f.submit"カートに入れる" %>

            </div>

            <div class="title">
              <% item.item_name %>
              <% artist.artist_name %>
            </div>

            <table>
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Artist</th>
                  <th>Time</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><% song.song_name %></td>
                  <td><% artist.artist_name %></td>
                  <td><% song.song_time %></td>
                </tr>
              </tbody>
            </table>


</body>
</html>