

<body class="body">
	<div class="prof_block clearfix">
		<div class="prof_blo_left">
			<table class="table_prof">
				<tr>
					<td colspan="2"><h1>山田太郎 様</h1></td>
			    </tr>
			    <tr>
				    <td>郵便番号:</td>
				    <td>000-0000</td>
			    </tr>
			    <tr>
				    <td>住所:</td>
				    <td>〇〇県〇〇市〇〇区〇〇町〇〇-〇〇-〇〇 〇〇マンション000号室aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
			    </tr>
			    <tr>
				    <td>E-mail:</td>
				    <td>yamada@gmail.com</td>
			    </tr>
			    <tr>
				    <td>電話番号:</td>
				    <td>000-0000-0000</td>
			    </tr>
			</table>
		</div>
		<div class="prof_blo_right">
			<p>プロフィール編集</p>
			<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
		</div>
	</div>

	<div class="purchase_history">
		<h2>購入履歴</h2>
		<div class="one_history">
			<div class="one_blo_left">
			<span class="label label-success" style="font-size:10px" >発送済み</span>
		</div>
		<div class="one_blo_right" >
			<div class="end_user_address">
				<p>発送先</p>
				<p>〒000-0000</p>
				<p>神奈川県川崎市川崎区川崎町12-34-56 KAWASAKIマンション101号室</p>
			</div>
		</div>
	</div>

</body>