

<body class="body">
	<div class="prof_block `**clearfix**`">
		<div class="prof_blo_left">
			<table class="table">
				<tr>
					<td colspan="2"><h1>山田太郎 様様</h1></td>
			    </tr>
			    <tr>
				    <td class="td_title">郵便番号:</td>
				    <td>000-0000</td>
			    </tr>
			    <tr>
				    <td class="td_title">住所:</td>
				    <td>〇〇県〇〇市〇〇区〇〇町〇〇-〇〇-〇〇 〇〇マンション000号室</td>
			    </tr>
			    <tr>
				    <td class="td_title">E-mail:</td>
				    <td>yamada@gmail.com</td>
			    </tr>
			    <tr>
				    <td class="td_title">電話番号:</td>
				    <td>000-0000-0000</td>
			    </tr>
			</table>
		</div>
		<div class="prof_blo_right">
			aaa
		</div>

	</div>
</body>