* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.about {
  height: 100%;
  width: 100%;
}


#wrap{
}

#slider{
  margin: 0 auto;
  position: relative;
  z-index: 10;
  opacity: 0.73;
  img{
    height: 850px;
    width: 100%;
  }
}

button{
  margin: 0;
  padding: 0px 15px;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.slide-dots{
  text-align: center;
  li{
    display: inline-block;
    margin: 0 30px;
    button{
      position: relative;
      text-indent: -9999px;
      &:before{
        content: '・';
        font-size: 80px;
        text-indent: 0px;
        position: absolute;
        top: -750%;
        left: 0;
      }
    }
    &.slick-active{
      button:before{
        content: '・';
      }
    }
  }
}


.slick-slide {
    position: relative;
    z-index: 10;
}

.textphoto {
  width: 80%;
  letter-spacing: 10px;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: #FFF;
  opacity: 0.73;
}

.gyoukan{
  color: white;
  padding-top: 10px;
  padding-botton: 2px;
}

.textphoto2 {
  letter-spacing: 0px;
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: #FFF;
  opacity: 0.73;
  letter-spacing: 5px;
  white-space: nowrap;

}

.textphoto3 {
  text-align: center;
  letter-spacing: 0px;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: white;
}