// Place all the styles related to the admin_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admain{
	width: 100%;
	height: auto;
	margin-top: 70px;

}

.adtable{
	margin-left: 130px;
	margin-right: 85px;
}

.adh{

}

.adsimei{
	font-size: 30px;
	padding-right: 230px;
	padding-bottom: 50px;


}

.add{
	font-size: 30px;
	padding-right: 300px;
	padding-bottom: 50px;


}

.adlogin{
	font-size: 30px;
	padding-bottom: 50px;

}

.adb{
	border-top: solid black 2px;
}

.adname{
		padding-right: 230px;
		font-size: 20px;
		border-bottom: solid black 2px;



}

.admail{
    padding-right: 300px;
	font-size: 20px;
	border-bottom: solid black 2px;

}

.adtime{
	font-size: 20px;
	border-bottom: solid black 2px;

}

.ddd{
	}

.i-1{
	font-size: 20px;
	width:450px;
	padding-left: 25px;

}

.i-2{
	font-size: 20px;
	width: 300px;




}

.i-3{
	font-size: 20px;
    width: 160px



}

.i-4{
	font-size: 20px;
    width: 100px;


}

.i-5{
	width: 150px;
	padding-right: 25px;
	font-size: 20px;


}

.ii-1{
	width:450px;
	padding-left: 25px;
	text-align: left;
	border-bottom: solid 1px black;

}

.ii-2{
	width: 350px;
	padding-left: 25px;
	text-align: left;
	border-bottom: solid 1px black;


}

.ii-3{
    width: 160px;
    text-align: left;
    padding-left: 35px;
	border-bottom: solid 1px black;

}

.ii-4{
    width: 160px;
	text-align: left;
	padding-left: 50px;
	border-bottom: solid 1px black;

}

.ii-5{
	border-bottom: solid 1px black;
	text-align: left;

}

