/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

html{
	position: relative;
	min-height: 100%;
}

header{
	width: 100%;
	height: 85px;
	background-color: black;
	opacity: 0.6;
	position: fixed;
	top: 0;

}

.clearfix::after{
	content: "";
	display: block;
	clear: both;

}


.sita{
	height: 85px;
	opacity: 0;



}

nav{
	width: 100%;
	height: 85px;
	position: center;
}

footer{
	width: 100%;
	height: 70px;
	text-align: center;
	background-color: black;
	bottom: 0;
	position: absolute;
	opacity: 0.75;

}

.headline1{
	float: left;

}

.nav-list-icon{
	width: 350px;
	height: 60px;
	margin-top: 13px;
	margin-left: 15px;
}

.headline2{
	float: right;

}

.av-list-ul{
	float: right;
}

.av-list-item{
	//opacity: 0;
	float: right;
	display: inline-block;
	font-size: 16px;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 27px;
	margin-bottom: 20px;
	border: 1px solid white;
	padding: 6px;
	border-radius: 10px 30px 20px 40px;

}


