// // Place all the styles related to the cart_items controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/


// // .table{
// // 	width: 80%;
// // 	height: 260px;
// // 	margin: 0 auto;
// // 	padding: 10px;
// // 	display: flex;
// // }
// // .item_image{
// // 	background-color: gray;
// // 	margin-right: 10px;
// // }
// // .big{
// // 	height: 240px;
// // 	width:  240px;
// // }
// // .calculation_box{
// // 	width: 80%;
// // 	text-align: right;
// // }
// // .line{
// // 	height: 24px;
// // 	width: 80%;
// // 	text-align: right;
// // 	margin: 0 auto;
// // 	border-bottom: 2px solid black;
// // }
// // .line_box{
// // 	width: 150px;
// // 	float: right;
// // }
// // .total{
// // 	margin-top: 20px;
// // }





// .body{
// 	// background-color: gray;
// 	// background-image: url(washitexture01_TP_V);
// 	width: 1000px;
// 	height: auto;
// 	margin: auto;
// }
// .cart_box{
//     // background-color: white;
//     background-image: url(ELLY863_washi14132906_TP_V);
// 	padding: 10px;
// }
// h1{
// 	margin-top: 10px;
// 	margin-bottom: 10px;
// }
// .one_item{
// 	// background-color: orange;
// 	margin-bottom: 10px;
// 	width: 100%;
// 	height: auto;
// 	border-top: 1px solid black;
// }

// .cd_info{
// 	background-color: #ff7fbf;
// 	width: 690px;
// 	height: 290px;
// 	display: inline-block;
// }
// .cd_image{
// 	background-color: blue;
// 	background-size: cover;
// 	// padding-top: 10px;
// 	// padding-right: 10px;
// 	// padding-left: 10px;
// 	display: inline-block;
// 	float: left;
// 	padding: 10px;
// }
// // .jacket_img_1{
// // 	background-image: url(thee);
// // 	background-size: cover;
// // 	width:200px;
// // 	height:200px;
// // 	margin: 10px;
// // 	display: inline-block;
// // 	float: left;
// // }
// // .jacket_img_2{
// // 	// background-image: url(91RVgur54DL._SL1500_);
// // 	background-size: cover;
// // 	width:200px;
// // 	height:200px;
// // 	margin: 10px;
// // 	display: inline-block;
// // 	float: left;
// // }
// .cd_name_block{
// 	// background-color: blue;
// 	display: inline-block;
// 	float: left;
// 	width: 670px;
// 	height: auto;
// 	margin-top: 10px;
// 	margin-left: 10px;
// 	margin-right: 10px;
// 	position: relative;
// }
// .cd_table{
// 	height: 100%;
// 	// background-color: blue;
// }
// .table_block{
// 	// background-color: red;
// 	margin-right: 10px;
// 	margin-bottom: 10px;
// 	margin-left: 10px;
// 	height: 40px;
// 	width: 960px;
// 	text-align: right;
// }
// .table_1{
// 	// background-color: blue;
// 	width: 100px;
// 	height: 100%;
// 	float: right;
// }
// .total{
// 	// background-color: white;
//     // background-image: url(ELLY863_washi14132906_TP_V);
// 	margin-bottom: 10px;
// 	height: 40px;
// 	width: 1000px;
// 	float: right;
// 	border-bottom: 1px solid black;
// 	border-top: 1px solid black;
// }
// .table_total{
// 	background-color: red;
// 	width: 200px;
// 	height: 100%;
// 	float: right;
// 	margin-right: 16px;
// }

// .cd_table td{
// 	background-color: yellow;
// 	width: 700px;
// 	padding: 3px;
// }
// .table_1 td{
// 	// background-color: blue;
// 	background-image: linear-gradient(40deg, #fce043 0%, #fb7ba2 74%);
// 	padding: 2px 2px;
// 	text-align: right;
// 	width: 100px;
// }
// .table_total td{
// 	// background-color: yellow;
// 	padding: 2px 2px;
// 	text-align: right;
// }
// .button_table{

// }



// Place all the styles related to the cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.table{
	width: 80%;
	height: 260px;
	margin: 0 auto;
	padding: 10px;
	//display: flex;
}
.item_image{
	// background-color: gray;
	margin-right: 10px;
}
.big{
	height: 240px;
	width:  240px;
}
.calculation_box{
	width: 80%;
	text-align: right;
}
.line{
	height: 24px;
	width: 80%;
	text-align: right;
	margin: 0 auto;
	border-bottom: 2px solid black;
}
.line_box{
	width: 150px;
	float: right;
}
.total{
	margin-top: 20px;
}





.body_1{
	// background-color: gray;
	// background-image: url(washitexture01_TP_V);
	width: 80%;
	height: auto;
	// margin: auto;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 200px;
}
.cart_box{
    // background-color: white;
    // background-image: url(ELLY863_washi14132906_TP_V);
	padding: 10px;
}
h1{
	margin-top: 10px;
	margin-bottom: 10px;
}
.one_item{
	// background-color: orange;
	margin-bottom: 10px;
	width: 100%;
	height: auto;
	border-bottom: 1px solid black;
	padding-bottom: 30px;
}

.cd_info{
	// background-color: #ff7fbf;
	width: 980px;
	height: auto;
	display: inline-block;
}
.cd_image{
	background-size: cover;
	width:150px;
	height:150px;
	margin: 10px;
	display: inline-block;
	float: left;
}
.jacket_img_1{
	background-image: url(thee);
	background-size: cover;
	width:200px;
	height:200px;
	margin: 10px;
	display: inline-block;
	float: left;
}
.jacket_img_2{
	background-image: url(91RVgur54DL._SL1500_);
	background-size: cover;
	width:200px;
	height:200px;
	margin: 10px;
	display: inline-block;
	float: left;
}
.cd_name_block{
	// background-color: blue;
	display: inline-block;
	float: left;
	width: 740px;
	height: auto;
	// margin-top: 10px;
	// margin-left: 10px;
	margin-right: 10px;

}

.hennkouhozon{
	border-radius: 10px 10px 10px 10px;
	border: skyblue 1px;
	background-color: skyblue;
    padding-top: 3px;
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 3px;


}

.syouhinndasu{
	border-radius: 10px 10px 10px 10px;
	border: orange 1px;
	background-color: orange;
	padding-top: 3px;
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 3px;



}

.cd_table{
	height: 100%;
	padding-left: 120px;
}

.cd_childs{
	padding-left: 120px;
	font-size: 17px;

}

.cd_childs1{
	padding-left: 120px;
	font-size: 26px;
}

.cd_childs2{
	padding-left: 120px;
	font-size: 26px;
}


.table_block{
	// background-color: red;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 40px;
	width: 960px;
	text-align: right;
	display: inline-block;
}
.table_1{
	// background-color: blue;
	width: 500px;
	height: 100%;
	float: right;
	display: inline-block;
}
.total{
	background-color: white;
    background-image: url(ELLY863_washi14132906_TP_V);
	margin-bottom: 10px;
	height: 40px;
	width: 1000px;
	float: right;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}
.table_total{
	// background-color: red;
	width: 200px;
	height: 100%;
	float: right;
	margin-right: 16px;
}

.cd_table td{
	// background-color: yellow;
	// background-image: linear-gradient(40deg, #fce043 0%, #fb7ba2 74%);
	width: 900px;
	padding: 2px 2px;
	text-align: left;
}
.table_1 td{
	// background-color: yellow;
	// background-image: linear-gradient(40deg, #fce043 0%, #fb7ba2 74%);
	padding: 2px 2px;
	// text-align: right;
	width: 200px;
	height: 10px;
}
.table_td_1{
	// background-color: blue;
	padding: 2px;
	margin: 2px;
}
.table_td_2{
	// background-color: blue;
	text-align: left;
	font-size: 20px;

}
.table_td_3{
	// background-color: blue;
	//padding-right: 50px;
	text-align: left;
	font-size: 27px;
}
.table_total td{
	// background-color: yellow;
	padding: 2px 2px;
	text-align: right;
}
.button_table{
	text-align: left;
	font-size: 20px;

	// background-color: blue;
}
.botton_block{
	// background-color: red;
	margin-top: 45px;
	display: inline-block;
	width: 100%;
}

.button_1{
	// float: right;
	right: 0px;
	display: inline-block;
}
.button_2{
	float: right;
	display: inline-block;
}

.btn-secondary{
	border-radius: 10px 10px 10px 10px;
	font-size: 25px;
	border: 1px orange;
	color: white;
	background-color: orange;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}

.btn-outline-success{
	float: right;
	border-radius: 10px 10px 10px 10px;
	font-size: 25px;
	border: 1px skyblue;
	color: white;
	background-color: skyblue;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}

