// Place all the styles related to the EndUsers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.prof_block{
	background-color: teal;
	width: 100%;
	height: 100%;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
// .table {
// 	background-color: orange;
// 	float: left;
// 	width: 100%;
// 	height: auto;
// 	// margin: 10px;
// }

.table td{
	background-color: green;
	float: left;
	width: auto;
	margin-right: 2px;
	text-align: left;
}
.prof_blo_left{
	background-color: red;
	float: left;
	width: 70%;
	height: 100%;
}
.prof_blo_right{
	background-color: yellow;
	float: right;
	width: 30%;
	height: 100%;
}
.purchase_history{
	background-color: palegreen;
	display: inline-block;
	width: 100%;
	height: 100%;
}
.one_history{
	background-color: cyan;
	display: inline-block;
	width: 100%;
	height: 100%;
}
.one_blo_left{
	background-color: salmon;
	display: inline-block;
	float: left;
}
.end_user_address{
	background-color: yellow;
	display: inline-block;
	// width: 100px;
	// height: 100%;
	// float: left;
}
.one_blo_right{
	background-color: ivory;
	display: inline-block;
	float: left;
}
