// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header{
	width: 100%;
	height: 150px;
	background-color: black;
}

.i-main{
	width: 100%;
	// height: auto;
	margin-bottom: 200px;
}

.i-search{
	padding-top: 55px;
	text-align: center;
}

.entry_field11{

}

.oneitem{
	width: 240px;
	height:340px;
	float: left;
	margin-top: 55px;
	margin-left: 63px;
}
.j-image{
    width: 240px;
    height: 240px;
}

.i-name{
	font-size: 19px;
	height: 54px;
}
.i-price{
	font-size: 24px;
	float: right;
}

.i-artist{
	font-size: 15px;
	text-align: left;

}

.i-status{
	color: red;
	text-align: left;
}

.aaa{
	padding-bottom: 32px;
	margin-bottom: 5px;
	border-bottom: solid black 1px;

}

.zei{
	font-size: 17px;
	padding-right: 3px;
	padding-left: 10px;
}




.itemheader{
	width: 100%;
	height: 150px;
	background-color: black;
}


.sidebar{
	width: 350px;
	height: auto;
	float: left;
	margin-left: 70px;
	margin-bottom: 200px;
}

.s-main{
    width: 100%;
    height: auto;
    // background-color: blue;
}

.footer{
	width: 100%;
	height: 100px;
	text-align: center;
	background-color: black;
}

.inc{
	padding-top: 38px;
	color: white;
}


.s-image{

	width: 295px;
	height: 295px;
	text-align: center;
	margin-top: 75px;
	margin-bottom: 10px;

}

.s-price{
	width: 295px;
	text-align:  center;
	padding-top: 20px;
	font-size: 35px;
}

.s-genre{
    width: 295px;
	text-align: center;
	padding-top: 20px;
	font-size: 25px;
}

.s-label{
	width: 295px;
	text-align: center;
	padding-top: 20px;
	font-size: 25px;
}

.s-cart{
	width: 225px;
	text-align: center;
	font-size: 28px;
	border: solid 2px skyblue;
	background-color: skyblue;
	margin-top: 30px;
	margin-left: 35px;
	border-radius: 10px 10px 10px 10px;
}

.s-titles{
    width: 750px;
    height: 380px;
    float: left;
}

.s-name{
	text-align: left;
	padding-top: 85px;
	padding-left: 20px;
	font-size: 40px;

}

.s-artist{
	text-align: left;
	padding-top: 50px;
	padding-left: 25px;
	font-size: 30px;

}

.s-title{
	width: 500px;
	height: auto;
	margin-left: 70px;
	float: left;

}
.s-CD-info{
	// background-color: yellow;
	margin-bottom: 200px;
}
.s-tb{
	padding-left: 50px;
	margin-bottom: 10px;
	width: 780px;
	// background-color: gray;

}

.s-t-h{
	padding-bottom: 10px;
	border-bottom: 2px solid black;

}

.tr1{
	border-bottom: 2px solid black;
	height: 40px;
	// background-color: red;

}

.t-1{
	// width: 300px;
	text-align: center;
	font-size: 20px;
	// background-color: green;
}

.t-2{
    text-align: center;
	// padding-left: 250px;
	font-size: 20px;
	// background-color: pink;

}

.t-3{
	font-size: 20px;
	text-align: center;
	// padding-left: 250px;
	// background-color: orange;

}

.s-t-b{
	border-bottom: 1px solid black;
}

.tr2{
	border-bottom: 1px solid black;

}

.tt-1{
	padding-top: 8px;
	text-align: left;
	padding-left: 8px;
	// background-color: yellow;
	width: 300px;

}

.tt-2{
	// padding-left: 250px;
	padding-top: 8px;
	// background-color: red;
	width: 500px;


}

.tt-3{
	// padding-left: 250px;
	padding-top: 8px;
	// background-color: blue;
	width: 50px;

}
