// Place all the styles related to the labels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.l-a{
	margin-left: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 18px;
}

.l-label{
	border-radius: 10px 10px 10px 10px;
	width: 100px;
	margin-left: 50px;
	text-align: center;
}

.entry_field1{
	width: 300px;
	border-radius: 10px 10px 10px 10px;

}

.entry_field2{
	width: 300px;
	border-radius: 10px 10px 10px 10px;

}

.entry_field3{
	width: 500px;
	border-radius: 10px 10px 10px 10px;

}

.entry_field4{
	width: 500px;
	border-radius: 10px 10px 10px 10px;

}

.qq{
	margin-bottom: 15px;
}

.tugihe{
	margin-left: 50px;
	border-radius: 10px 10px 10px 10px;

}
.l-genre{
	border-radius: 10px 10px 10px 10px;
	width: 100px;
	margin-left: 50px;
	text-align: center;


}

.l-artist{
	border-radius: 10px 10px 10px 10px;
    width: 100px;
    margin-left: 50px;
	text-align: center;

}

.l-item{
	border-radius: 10px 10px 10px 10px;
    width: 100px;
    margin-left: 50px;
	text-align: center;
}