// Place all the styles related to the numbers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.new-tax-fee {
  background-color: silver;
  height: 875px;
  wodth: 100%;
}

.new-top {
  font-size:30px;
  text-align: center;
  padding-top: 15px;
}

.Tax {
  background-color: silver;
  text-align: center;
  height: 800px;
}

.tax-fee {
  margin: 0 auto;
  text-align: center;
}

.tax-fee2 {
  padding-top: 10px;
  text-align: center;
}

.tax {
  padding: 15px, 100px;
}

.tax th {
  text-align: center;
  font-size: 20px;
  color: white;
  background: linear-gradient(#829ebc,#225588);
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: 20%;
  padding: 10px 0px;
  padding-left: 50px;
}

.tax td {
  padding: 15px 0px;
  font-size: 20px;
  background: linear-gradient(#829ebc,#225588);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}

.fee th {
  text-align: center;
  font-size: 20px;
  color: white;
  background: linear-gradient(#829ebc,#225588);
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: 20%;
  padding: 10px 0px;
}

.fee td {
  padding: 15px 0px;
  font-size: 20px;
}

.tax-index {
  text-align: center;
  font-size: 30px;
  padding-top: 15px;
}

.tax-field label {
  font-size: 20px;
  text-align: center;
}

.tax-field {
  margin: 30px 0px 0px 39%;
}

.tax1 {
  padding: 30px 41%;
}

.tax-submit {
  height: 40px;
  font-size: 25px;
  background-color: green;
  width: 300px;
}

.tax-fee {
  margin-left: 28%;
  margin-top: 20px;
}