// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.orders_table{
	display: block;
	// background-color: green;
	width: 90%;
	padding: 10px 20px;
	margin: 0 auto;
}
.table_top{
	display: flex;
	margin-bottom: 10px;
	border-bottom: 2px solid black;
}
.order_status{
	// background-color: blue;
}
.option0{

}
.option1{

}

.post{
	margin-left: 20px;
	// background-color: red;
}

thead{
	width: 100%;
	// background-color: white;
}
tbody{
	width: 100%;
	// background-color: gray;
	text-align: center;
}

.lll{
	

}

.osiharai{
	margin-left: 60px;
	padding-top: 40px;

}

.daibiki{
	margin-left: 40px;
	margin-top: 20px;
	font-size: 22px;
	width: 100px;
	text-align: center;

}

.hurikomi{
	margin-left: 20px;
	margin-top: 20px;
	font-size: 22px;
	width: 140px;
	text-align: center;


}

.kureka{
	margin-left: 20px;
	margin-top: 20px;
    font-size: 22px;
    width: 195px;
    text-align: center;


}

.zuuusyo{
	margin-top: 70px;
	margin-left: 60px;

}

.zitaku{
	margin-top: 20px;
	font-size: 22px;
	margin-left: 40px;
	width: 80px;
	text-align: center;


}

.sin{
	font-size: 20px;
	width: 250px;
	text-align: center;


}

.atesaki{
    width: 80px;
	margin-top: 18px;
	text-align: center;
	font-size: 19px;

}

.dennwa{
	width: 80px;
	margin-top: 18px;
	text-align: center;
	font-size: 19px;

}

.yuubin{
    width: 80px;
	margin-top: 18px;
	text-align: center;
	font-size: 19px;



}

.zyuusyo{
    width: 80px;
	margin-top: 18px;
	text-align: center;
	font-size: 19px;



}


.sss{
	margin-top: 35px;
	margin-left: 40px;

}

.b{
	margin-left: 40px;
}

.bbb{
	margin-left: 900px;
	margin-top: 50px;
	margin-bottom: 150px;
}